@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Seymour+One&display=swap");

html {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #2f4858;
}

body {
  margin: 0;
  padding: 16px;
  background-color: #fdfdfd;
  height: 100vh;
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 1140px;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.strong-text {
  font-weight: 900;
}

h1 {
  margin: 0 0 16px 0;
  font-family: "Seymour One", sans-serif;
}

h3 {
  margin: 0 0 8px 0;
}

p {
  margin: 0;
}

.section {
  margin-bottom: 16px;
}

.score {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
  border-radius: 15px 15px 0 0;
  border: 2px solid #2f4858;
  margin: 0 auto;
  align-items: center;
  border-bottom: none;
  width: 760px;
  height: 40px;
  background-color: #c6ffbc;
}

.active-round {
  display: flex;
  justify-content: space-evenly;
  width: 760px;
  background-color: #c6ffbc;
  border: 2px solid #2f4858;
  margin: 0 auto;
}
.your-choice-container,
.comp-choice-container {
  padding: 32px 0;
}

.mid-container {
  width: 2px;
  background-color: #2f4858;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #2f4858;
  border-radius: 50%;
}

.results {
  width: 760px;
  margin: 0 auto 16px;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  padding: 8px 0;
  border: 2px solid #2f4858;
  background-color: #c6ffbc;
  border-radius: 0 0 15px 15px;
  border-top: none;
}

.results p {
  width: 100%;
}

.player-choices {
  text-align: center;
}

.choose-wisely {
  margin-bottom: 16px;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.button-container {
  padding: 8px 16px;
  border: 2px solid #2f485800;
  border-radius: 15px;
  transition: border 0.07s;
}

/*     
  border: 2px solid #2f4858;
  box-shadow: 0 0 4px 0px; */

.hover-like {
  border: 2px solid #2f4858;
  box-shadow: 0 0 4px 0px;
}

.choice-img {
  width: 160px;
  height: 160px;
}

.rock-img {
  background-image: url(./images_blue_border/rock.png);
  background-size: cover;
}

.paper-img {
  background-image: url(./images_blue_border/paper.png);
  background-size: cover;
}

.scissors-img {
  background-image: url(./images_blue_border/scissors.png);
  background-size: cover;
}

.question-img {
  background-image: url(./images_blue_border/question.png);
  background-size: cover;
}

.comp-choice-container .choice-img:not(.question-img) {
  transform: scaleX(-1);
}

.play-again {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.play-again button {
  height: 38px;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff00;
  border: 2px solid #2f4858;
  border-radius: 5px;
  font-size: 19px;
  padding: 5px 10px;
}

.play-again button:hover {
  animation: breath 2s linear infinite;
  box-shadow: 0 0 4px 0px;
  background-color: #2f4858;
  color: #fdfdfd;
}

.hover-like-breath {
  animation: breath 2s linear infinite;
  box-shadow: 0 0 4px 0px;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.testimonials {
  margin: 0;
}

.testimonial-container {
  display: flex;
}

.testimonial {
  flex: 1;
}
.testimonial-content {
  font-style: italic;
  font-size: 18px;
  margin: 0 0 8px 0;
}
