@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Seymour+One&display=swap");

html {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #2f4858;
}

body {
  margin: 0;
  padding: 64px;
  background-color: #fdfdfd;
}

.main {
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin-bottom: 16px;
}

p {
  margin: 0;
}

h1 {
  font-family: "Seymour One", sans-serif;
}

.section {
  margin-bottom: 16px;
}

.score {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
    border-radius: 15px 15px 0 0;
    border: 2px solid #2f4858;
    margin: 0 auto;
    align-items: center;
    border-bottom: none;
    max-width: 760px;
    height: 40px;
    background-color: #c6ffbc;
}

.active-round {
    display: flex;
    justify-content: space-evenly;
    max-width: 760px;
    background-color: #c6ffbc;
    border: 2px solid #2f4858;
    margin: 0 auto;
}
.your-choice-container, .comp-choice-container {
    padding: 32px 0;
}

.mid-container {
    width: 2px;
    background-color: #2f4858;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #2f4858;
    border-radius: 50%;
}

.results {
    max-width: 760px;
    margin: 0 auto 16px;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    padding: 8px 0;
    border: 2px solid #2f4858;
    background-color: #c6ffbc;
    border-radius: 0 0 15px 15px;
    border-top: none;
}

.player-choices {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.choice-img {
  width: 160px;
  height: 160px;
}

.rock-img {
  background-image: url(./rock.png);
  background-size: cover;
}

.paper-img {
  background-image: url(./paper.png);
  background-size: cover;
}

.scissors-img {
  background-image: url(./scissors.png);
  background-size: cover;
}

.question-img {
  background-image: url(./question.png);
  background-size: cover;
}

.comp-choice-container .choice-img:not(.question-img) {
  transform: scaleX(-1);
}

.testimonial-container {
  display: flex;
}

.testimonial {
  flex: 1;
}
.testimonial-content {
  font-style: italic;
  font-size: 18px;
}
